<h2 class="ui black center aligned icon header ">
  <i class="ui circular red paper plane outline
  icon custom"></i>
  Welcome to ImChat App!
</h2>
<br><br>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card set-height">
      <div class="ui content" id="messages">
        <div class="ui feed" id="message_container">
          <%= render @messages %>
        </div>
      </div>
    </div>
    <div class="extra content">
      <%= form_with(url: message_path, scope: :message, remote: true) do |f| %>
      <div class="field">
        <div class="ui fluid icon right input">
          <%= f.text_field :body %>
          <%= f.button '<i class="bordered inverted green edit icon"></i>'.html_safe %>
        </div>
      </div>

      <% end %>
    </div>
  </div>



  <div class="four wide column">
    <div class="ui fluid raised card set-height">
      <div class="ui content">
        <div class="ui medium inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
