<h2 class="ui black center aligned icon header ">
  <i class="ui circular red paper plane outline
  icon custom"></i>
  Welcome to ImChat App!
</h2>
<br><br>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card set-height">
      <div class="ui content">
        <% @messages.each do |message| %>
        <div class="ui feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <em><%= message.user.username %></em>: <%= message.body %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="extra content">
      <form class="ui reply form">
        <div class="field">
          <div class="ui fluid icon right input">
            <input type="text">
            <i class="bordered inverted green edit icon"></i>
          </div>
        </div>
      </form>
    </div>
  </div>



  <div class="four wide column">
    <div class="ui fluid raised card set-height">
      <div class="ui content">
        <div class="ui medium inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
